/******Main Styles*******/

body {
	font-size: 16px;
}
.container {
	margin: 0 auto;
	max-width: 1040px;
}

#search input {
	clear: both;
    display: block;
    margin: 30px auto 23px;
    width: 460px;
    height: 47px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
	padding-left: 10px;
	font-size: 1em;
	box-sizing: border-box;
}

#search input:focus {
	border: 2px solid #b4b4b4;
	outline: none;
}

#gallery a {
	display: inline-block;
	width: 25%;
	padding: 25px 30px;
	box-sizing: border-box;
	margin: -2px;
}

#gallery a img {
	width: 100%;
    box-shadow:0 1px 4px #adadad, 0 0 40px  #e6e6e6 inset;
}

/******Media Queries*******/


@media (max-width: 600px) {
	#search input {
		width: 90%;
	}
	#gallery a {
		display: inline-block;
		width: 50%;
		padding: 15px 10px;
		margin: -2px;
	}
}